body {
    background: #fff;
}

#title {
    color: #FF0096 ;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#wrapper {
    background: #fff;
    border: 0px solid #DCDCDC;
    padding-bottom: 15px;
}

.logo {
    background: transparent url(../Images/HiQLogoBlack.png) top left no-repeat;
    height: 60px;
    position: absolute;
    bottom: -30px;
    width: 75px;
    right: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.form-horizontal .form-group label {
    text-align: right;
    font-size: 15px;
}

.form-horizontal .form-group label span {
    font-size: 20px;
}

.form-group select, .form-group input[type=range] {
    background: #EEEEF0;
    border: 0;
    border-radius: 10px;
}

 .form-group input[type=submit] {
     background: #FF0096;
     color: #fff;
     border-radius: 0;
 }

  .form-group input[type=submit]:hover {
     background: #e00083;
     color: #fff;
     border-radius: 0;
 }

 .form-group input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 35%;
    background: #FF0096;
    box-shadow: 10px;
    margin-top: 0px;
}